body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #abacab;

}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: aliceblue;
}


.heading{
    top: 10 px;
    left: 10 px;
    right: 10 px;
    height: 100px;
    border-bottom: solid 1px #555555;
    color:aliceblue;

}
.subheading{
    float: right;
}
.LakeSaintLouis{
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    padding: 40px;
    border: 5px aliceblue double;
    border-radius: 20px;
}

.Champaign{
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(236, 172, 181);
    display: flex;
    align-items: center;
    padding: 40px;
    border: 5px aliceblue double;
    border-radius: 20px;
}
.OFallonIL{
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(238, 181, 35);
    display: flex;
    align-items: center;
    padding: 40px;
    border: 5px aliceblue double;
    border-radius: 20px;
}

.Columbia{
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: peru;
    display: flex;
    align-items: center;
    padding: 40px;
    border: 5px aliceblue double;
    border-radius: 20px;
}
.SaintLouis{
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:crimson;
    display: flex;
    align-items: center;
    padding: 40px;
    border: 5px aliceblue double;
    border-radius: 20px;
}
